meta(content-type='text/html', charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
meta(name="fragment", content="!")
//link(rel='shortcut icon', type='image/png', href='/img/favicon.png?1')

title(ng-bind='title') Test title